* {
	margin: 0;
	padding: 0;	
}
body {
	font-family: Tahoma, Verdana, Segoe, sans-serif;	
	font-size: 100%;
}
/*------------------------------------------------------------------------------*/
/* page heading */
header {
	padding: 0.5em;
	position: relative;
	height: 3.5em;
}
h1 {
	font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
	font-size: 1.5em;
	line-height: 1;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 500;
	position: absolute;
	right: 0.25em;
	bottom: 0.25em;
}
/*------------------------------------------------------------------------------*/
/* navigation bar */
nav {
	font-size: 0.875em;
	line-height: 1;
	height: 2em;
	padding-left: 0.75em;;
}
nav input[type=radio] {
	display: none;
}
nav label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 1.5em;
    margin: 0.5em 1em 0 0;
}
nav label:before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: lightgray;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    border-radius: 0.5em;
}
nav input[type=radio]:checked + label:before {
    content: "\2022";
    color: black;
    font-size: 1em;
    text-align: center;
    line-height: 1em;
}
nav ul {
	float: right;
}
nav li {
	float: left;
}
nav a {
	padding: 0.5em 0.75em;
	text-decoration: none;
	display: inline-block;
}
/*------------------------------------------------------------------------------*/
/* sidebar list of parks */
#parklist {
	overflow: auto;
	float: left;
	border-right: 2px solid darkgray;
}
#parklist a {
	padding: 0 4px;
	text-decoration: none;
	display: block;
}
/*------------------------------------------------------------------------------*/
/* "shared" properties of mixed items */
#parklist, #map {
	height: 100%;
}
nav ul, ul#parklist {
	list-style: none;
}
#parklist, #grid, #tiles {
	font-size: 0.875em;
}
#main, #grid, #tiles {
	width: 100%;
	position: absolute; /* this and the following 2 lines are what makes it take up the rest of the page */
	top: 6.25em;
	bottom: 0;
}
#grid, #tiles {
	display: none;
	top: 7.107em;
	overflow-x: auto;
	overflow-y: auto;
}
/*------------------------------------------------------------------------------*/
/* table (grid) of parks and its container */
#grid table {
	border-spacing: 0;
	margin: 1em auto;
}
#grid th {
	text-align: left;
	font-weight: 500;
}
#tbody:hover {
	cursor: pointer;
}
#tbody:hover > tr td {
	opacity: 0.4;
}
#tbody:hover > tr:hover td {
	opacity: 1;
}
#grid th, #grid td {
	padding: 4px 8px;
}
/*------------------------------------------------------------------------------*/
/* tiles of parks */
#tiles {
	flex-wrap: wrap;
	align-content: flex-start;
}
#tiles div.plain, #tiles div.back {
	width: 17em;
	height: 6em;
	padding: 0.375em;
	margin: 0.25em 0 0 0.25em;
	border-width: 0.125em;
	border-style: outset;
}
#tiles div p:nth-child(2) {
	font-weight: bold;
}
#tiles div p:nth-child(6) {
	font-weight: 600;
	text-align: right;
}
#tiles div a {
	float: left;
	height: 100%;
	border-right: 2px solid darkgray;
	padding-right: 0.375em;
	margin-right: 0.375em;
}
/*------------------------------------------------------------------------------*/
/* just colors */
body {
	background-color: lightgray;
}
header {
	background: linear-gradient(to bottom right, #048004, #044004);
	background: -webkit-linear-gradient(left top, #048004, #044004);
	background: -moz-linear-gradient(bottom right, #048004, #044004);
}
h1, nav, nav a, #parklist a:hover, #grid thead, .leaflet-popup-content-wrapper {
	color: white;
}
#parklist a, #tiles div.plain {
	color: black;
}
nav {
	background-color: black;
}
nav a:hover, #parklist a:hover {
	background-color: gray;
}
#grid thead {
	background: linear-gradient(#048004, #044004);
	background: -webkit-linear-gradient(#048004, #044004);
	background: -moz-linear-gradient(#048004, #044004);
}
#parklist, #tbody tr:nth-child(odd), #tiles div.plain {
	background-color: #f0fff0;
}
#tbody tr:nth-child(even) {
	background-color: white;
}
#tiles div p:nth-child(6), #tiles div a {
	color: #048004;
}
.back {
	background-color: #044004;
	color: white;
}
/*------------------------------------------------------------------------------*/
/* rounded corners */
#grid table, #grid thead {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#grid thead th:first-child {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
}
#grid thead th:last-child {
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}
#tbody tr:last-child td:first-child {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#tbody tr:last-child td:last-child {
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/*------------------------------------------------------------------------------*/
/* leaflet popup overrides */
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
	background-color: #044004;
	opacity: 0.8;
}
/*------------------------------------------------------------------------------*/
/* flipper */
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container.flip .flipper {
		transform: rotateY(180deg);
	}

.flip-container {
	width: 18em;
	height: 7em;
	margin: 0.25em 0 0 0.25em;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	cursor: pointer;
	position: absolute;
	top: -0.25em;
	left: -0.25em;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}