body {
	background-color: lightgray;
	font-family: Tahoma, Verdana, Segoe, sans-serif;	
	font-size: 100%;
	margin: 0;
	padding: 0;
}
#header {
	background: linear-gradient(to bottom right, #048004, #044004);
	background: -webkit-linear-gradient(left top, #048004, #044004);
	background: -moz-linear-gradient(bottom right, #048004, #044004);
	padding: 0.5em;
	position: relative;
	height: 4em;
}
h1 {
	font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
	margin: 0;
	font-size: 1.5em;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 500;
	line-height: 1.625em;
	position: absolute;
	right: 0.5em;
	bottom: 0;
}
#nav {
	font-size: 75%;
	background-color: black;
	float: right;
	width: 100%;
	height: 2em;
}
#nav ul {
	overflow: hidden;
	float: right;
}
#nav li {
	float: left;
}
#nav a {
	padding: 5px 10px;
	text-decoration: none;
	display: inline-block;
}
#main {
	width: 100%;
	position: absolute; /* this and the following 2 lines are what makes it take up the rest of the page */
	top: 6.5em;
	bottom: 0;
}
#parklist {
	font-size: 88%;
	overflow: scroll;
	float: left;
	border-right: 2px solid darkgray;
}
#parklist a {
	padding: 0 4px;
	text-decoration: none;
	color: black;
	display: block;
}
#parklist, #map {
	height: 100%;
}
#nav ul, ul#parklist {
	margin: 0;
	padding: 0;
	list-style: none;
}
#maingrid {
	display: none;
	font-size: 88%;
	overflow-x: auto;
}
#maingrid table {
	border-spacing: 0;
	margin: 2.5em auto 1em auto;
}
/*#maingrid th {
	position: sticky;
}*/
#maingrid table, #maingrid thead {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#maingrid thead {
	background: linear-gradient(#048004, #044004);
	background: -webkit-linear-gradient(#048004, #044004);
	background: -moz-linear-gradient(#048004, #044004);
}
#maingrid th {
	text-align: left;
	font-weight: normal;
}
#maingrid thead th:first-child {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
}
#maingrid thead th:last-child {
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}
#grid:hover {
	cursor: pointer;
}
#grid:hover > tr td {
	opacity: 0.4;
}
#grid:hover > tr:hover td {
	opacity: 1;
}
#grid tr:last-child td:first-child {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#grid tr:last-child td:last-child {
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#maingrid th, #maingrid td {
	padding: 4px 8px;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
	background-color: #044004;
	opacity: 0.8;
}
/* just colors */
h1, #nav a, #parklist a:hover, #maingrid thead, .leaflet-popup-content-wrapper {
	color: white;
}
#nav a:hover, #parklist a:hover {
	background-color: gray;
}
#parklist, #grid tr:nth-child(odd) {
	background-color: #f0fff0;
}
#grid tr:nth-child(even) {
	background-color: white;
}