* {
	margin: 0;
	padding: 0;	
}
body {
	font-family: Tahoma, Verdana, Segoe, sans-serif;	
	font-size: 100%;
}
section {
	width: 100%;
	position: absolute; /* this and the following 2 lines are what makes it take up the rest of the page */
	top: 6.1em;
	bottom: 0;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
/*------------------------------------------------------------------------------*/
/* page heading */
header {
	padding: 0.5em;
	position: relative;
	height: 3.5em;
}
h1 {
	font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
	font-size: 1.5em;
	line-height: 1;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 500;
	position: absolute;
	right: 0.25em;
	bottom: 0.25em;
}
/*------------------------------------------------------------------------------*/
/* navigation bar */
nav {
	line-height: 1;
	height: 2em;
}
nav ul {
	float: right;
}
nav li {
	float: left;
}
nav a {
	display: inline-block;
	padding: 0.5em 0.75em;
}
/*------------------------------------------------------------------------------*/
/* sidebar list of parks */
#parklist {
	overflow: auto;
	float: left;
	margin-right: 1px;
}
#parklist li {
	margin-bottom: 1px;
	width: 12em;
	height: 4.25em;
	padding: 0.25em 0.375em 0.25em 0.375em;
	position: relative;
	opacity: 0.75;
}
@media only screen and (max-width: 767px) {
	#parklist li {
		height: 5.25em;
		width: 8em;
	}
}
#parklist li.highlight, #parklist li:hover {
	opacity: 1;
}
#parklist li > a {
	display: block;
}
#parklist img {
    width: 12px;
    height: 20px;
    float: left;
    margin-right: 8px;
}
#parklist p {
	margin-left: 20px;
	text-shadow: 1px 1px white;	
}
#parklist li p:nth-child(2) {
	font-size: 0.875em !important;
	font-weight: 600;
}
#parklist li p:nth-child(5) {
	font-size: 0.875em !important;
	font-weight: 500;
	text-align: right;
	position: absolute;
	bottom: calc(0.25em / 0.875);
	right: calc(0.375em / 0.875);
}
/*------------------------------------------------------------------------------*/
/* "shared" properties of mixed items */
#parklist, #map {
	height: 100%;
}
nav, #parklist p {
	font-size: 0.8em;
}
/*------------------------------------------------------------------------------*/
/* just colors */
body {
	background-color: darkgray;
}
#parklist li {
	background-color: #f0fff0;
}
h1, nav a:hover {
	color: white;
}
#parklist li a {
	color: black;
}
#parklist li a p:nth-child(5) {
	color: #048004;
}
nav, nav a {
	background-color: black;
	color: silver;
}
header {
	background: linear-gradient(to bottom right, #048004, #044004);
	background: -webkit-linear-gradient(left top, #048004, #044004);
	background: -moz-linear-gradient(bottom right, #048004, #044004);
}
/*------------------------------------------------------------------------------*/
/* map */
img.small {
	width:  10px;
	height: 16px;
	margin: 0 4px;
}
.leaflet-popup-content p {
	margin: 4px 0;
}
.leaflet-control-layers-base:before {
	content: "Views";
	color: black;
	font-weight: bold;
}
.leaflet-control-layers-overlays::before {
	content: "Parks";
	color: black;
	font-weight: bold;
}
.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
	text-align: left;
	line-height: 18px;
	color: #555;
}
.info h4 {
	margin: 0 0 5px;
	color: #777;
}
.info i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.65;
}
/*------------------------------------------------------------------------------*/
/* about */
#mask {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background: rgba(0, 0, 0, 0.6);
	display: none;
}
#about {
	height: 80%;
	width: 80%;
	position: absolute;
	top: 10%;
	left: 10%;
	z-index: 1001;
	display: none;
/*	border-radius: 10px;*/
}
#about:target, #about:target + #mask {
	display: block;
}
.close {
    display:block;
    position:absolute;
    top:-15px;
    right:-15px;
    background:red;
    color:white;
    height:30px;
    width:30px;
    line-height:26px;
    font-size:24px;
    text-align:center;
    font-weight:bold;
    border-radius:15px;
}
iframe {
	border: none;
	border-radius: 10px;
/*	overflow: scroll;*/
}
.about {
	background: white;
}
.about section {
	padding: 15px;
	position: static;
	overflow: scroll;
/*	top: 0;
	bottom: 0;*/
}
.about h2 {
	font-size: 1.1em;
	line-height: 1;
	font-weight: bold;
	margin: 15px 0 5px;	
}
.about p {
	margin: 0 15px;
}