* {
	margin: 0;
	padding: 0;	
}
body {
	font-family: Tahoma, Verdana, Segoe, sans-serif;	
	font-size: 100%;
}
section {
	width: 100%;
	position: absolute; /* this and the following 2 lines are what makes it take up the rest of the page */
	top: 6.1em;
	bottom: 0;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
/*------------------------------------------------------------------------------*/
/* page heading */
header {
	padding: 0.5em;
	position: relative;
	height: 3.5em;
}
h1 {
	font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
	font-size: 1.5em;
	line-height: 1;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 500;
	position: absolute;
	right: 0.25em;
	bottom: 0.25em;
}
/*------------------------------------------------------------------------------*/
/* navigation bar */
nav {
	line-height: 1;
	height: 2em;
}
nav ul {
	float: right;
}
nav li {
	float: left;
}
nav a {
	display: inline-block;
	padding: 0.5em 0.75em;
}
/*------------------------------------------------------------------------------*/
/* sidebar list of parks */
#parklist {
	overflow: auto;
	float: left;
	margin-right: 1px;
}
#parklist li {
	margin-bottom: 1px;
	width: 14.5em;
	height: 5.25em;
	padding: 0.25em 0.5em 0.25em 0.375em;
}
@media only screen and (max-width: 767px) {
	#parklist li {
		width: 8em;
		height: 6.25em;
	}
}
#parklist li.highlight, #parklist li:hover {
	padding-right: 0.125em;
	border-right: 0.375em solid black;
}
#parklist li > a {
	display: block;
}
#parklist p {
	text-shadow: 1px 1px white;	
}
#parklist li p:nth-child(1) {
	font-size: 0.875em !important;
	font-weight: 600;
}
#parklist li p:nth-child(5) {
	font-size: 0.875em !important;
	font-weight: 500;
	text-align: right;
}
/*------------------------------------------------------------------------------*/
/* "shared" properties of mixed items */
#parklist, #map {
	height: 100%;
}
nav, #parklist p {
	font-size: 0.8em;
}
/*------------------------------------------------------------------------------*/
/* just colors */
body {
	background-color: darkgray;
}
#parklist li {
	background-color: #f0fff0;
}
h1, nav a:hover {
	color: white;
}
#parklist li a {
	color: black;
}
#parklist li a p:nth-child(5) a {
	color: #048004;
}
nav, nav a {
	background-color: black;
	color: silver;
}
header {
	background: linear-gradient(to bottom right, #048004, #044004);
	background: -webkit-linear-gradient(left top, #048004, #044004);
	background: -moz-linear-gradient(bottom right, #048004, #044004);
}