* {
	margin: 0;
	padding: 0;	
}
body {
	font-family: Tahoma, Verdana, Segoe, sans-serif;	
	font-size: 100%;
}
section {
	width: 100%;
	position: absolute; /* this and the following 2 lines are what makes it take up the rest of the page */
	top: 6.25em;
	bottom: 0;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
/*------------------------------------------------------------------------------*/
/* page heading */
header {
	padding: 0.5em;
	position: relative;
	height: 3.5em;
}
h1 {
	font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
	font-size: 1.5em;
	line-height: 1;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 500;
	position: absolute;
	right: 0.25em;
	bottom: 0.25em;
}
/*------------------------------------------------------------------------------*/
/* navigation bar */
nav {
	line-height: 1;
	height: 2em;
}
nav ul {
	float: right;
}
nav li {
	float: left;
}
nav a {
	display: inline-block;
	padding: 0.5em 0.75em;
}
/*------------------------------------------------------------------------------*/
/* sidebar list of parks */
#parklist {
	overflow: auto;
	float: left;
	margin-right: 1px;
}
#parklist li {
	margin-bottom: 1px;
}
#parklist a {
	display: block;
}
/*------------------------------------------------------------------------------*/
/* park info tiles */
.info, .back {
	width: 14.5em;
	height: 5.25em;
	padding: 0.25em 0.375em;
}
.info {
	text-shadow: 1px 1px white;
}
#parklist li.highlight .info, .info:hover {
	padding-right: 0.125em;
	border-right: 0.25em solid black;
}
.info p:nth-child(1) {
	font-weight: bold;
}
.info p:nth-child(5) {
	font-weight: 600;
	text-align: right;
}
/*------------------------------------------------------------------------------*/
/* "shared" properties of mixed items */
#parklist, #map {
	height: 100%;
}
nav, #parklist p {
	font-size: 0.875em;
}
/*------------------------------------------------------------------------------*/
/* just colors */
body {
	background-color: darkgray;
}
.info {
	background-color: #f0fff0;
}
h1, nav a:hover {
	color: white;
}
.info {
	color: black;
}
.info p:nth-child(5) {
	color: #048004;
}
nav, nav a {
	background-color: black;
	color: silver;
}
.back {
	background-color: #044004;
	color: white;
}
header {
	background: linear-gradient(to bottom right, #048004, #044004);
	background: -webkit-linear-gradient(left top, #048004, #044004);
	background: -moz-linear-gradient(bottom right, #048004, #044004);
}
/*------------------------------------------------------------------------------*/
/* flipper */
.flipper {
	perspective: 567px;
	cursor: pointer;
	width: 15.25em;
	height: 5.75em;
}
.flipper.flip .front {
	transform: rotateY(180deg);
}
.flipper.flip .back {
	transform: rotateY(0deg);
}
.front, .back {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transition: 0.6s;
	position: absolute;
	top: 0;
	left: 0;
}
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}
.back {
	transform: rotateY(-180deg);
	display: block; /* Fallback for non-webkit */
	display: -webkit-box;
	max-height: 5.91em;
	line-height: 1.29;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}